langchain
python-dotenv
langchain_community
streamlit
pypdf
pymupdf
langchain_text_splitters
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_groq
datasets
PyPDF2
gunicorn




